@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.01px 0.8px 0 rgba(0, 0, 0, 0.2),
    0 0.02px 1.5px 0 rgba(0, 0, 0, 0.19);
}

.brandLogoContainer {
  width: 40%;
  display: flex;
  justify-content: end;
}

.navBar {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 4rem;
}

.navBarSocialContainer {
  background-color: #fff3f3;
}

.navBarSocial {
  margin: 0;
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navBarOne {
  color: #212121;
  padding: 0;
  margin: 1rem 0;
  list-style: none;
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}

.sideMenu {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 100vh;
  position: fixed;
  background-color: #fff3f3;
  left: 0;
  top: 0;
  z-index: 5;
  transition: all 0.2s linear;
}

.coverOverlaySideMenu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.4;
}

.removeElement {
  display: none;
}

.translateYFull {
  transform: translateX(-100%);
}

.sideMenuHeading {
  border-bottom: 2px solid #f91313;
}

.sideMenuItemsList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

.sideMenuItemsList > li {
  padding: 1.5rem;
  border-bottom: 0.5px solid rgba(33, 33, 33, 0.25);
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s linear;
}

.sideMenuItemsList > li:hover {
  background-color: #f91313;
  color: white;
  transform: translate(3px, -3px);
}

.phoneSocialNavContainer {
  border: none;
  background-color: #f91313;
  color: #ffffff;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.phoneSocialNav {
  margin-right: 1rem;
}

.instaSocialNavContainer {
  border: none;
  background-color: transparent;
  margin-right: 1rem;
  cursor: pointer;
}

.fBSocialNavContainer {
  border: none;
  background-color: transparent;
  margin-right: 1rem;
  cursor: pointer;
}

.navOneItem {
  margin-right: 2rem;
  cursor: pointer;
}

.navOneDropDownItem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f91313;
  color: white;
}

.navOneDropDownItem:hover .dropdown-content {
  display: block;
}

.dropDownLogo {
  height: 6px;
  width: 11px;
  margin-left: 0.5rem;
}

.hamburgerSideMenuContainer {
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
}

.phoneModeHamburger {
  display: none;
}

.heroContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.leftHero {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  position: relative;
}
.rightHero {
  width: 45%;
  display: flex;
  justify-content: end;
}

.heroImageRv {
  width: 90%;
  height: auto;
}

.headingHero {
  width: 65%;
}

.headingHeroOne {
  font-weight: bold;
  font-size: 3rem;
  color: #0a0a0a;
}

.headingHeroTwo {
  color: #f91313;
  font-style: italic;
}

.headingHeroOne::before {
  display: block;
  width: 50px;
  margin: 0;
  background-color: #f91313;
  content: " ";
  height: 5px;
  border-radius: 10px;
}

.descHero {
  color: #757575;
  width: 65%;
  font-size: 17px;
  font-weight: 400;
  margin-top: 1rem;
}

.formContainer {
  width: 65%;
}
.mobileForm {
  display: none;
}

.formSearchBar {
  list-style: none;
  position: absolute;
  display: flex;
  padding: 0;
  margin-top: 3rem;
  box-shadow: -1px 3px 28px #00000014;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
}

.formSearchBar > li > select {
  border: none;
  background-color: hsl(0, 0%, 100%);
  width: 12vw;
  height: 8vh;
  border-right: 0.5px solid rgba(33, 33, 33, 0.25);
  cursor: pointer;
  text-align: center;
}

.selectTypeForm {
  border-right: none !important;
}

.selectLocationForm {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.formSubmitButton {
  border: none;
  width: 12vw;
  height: 8vh;
  background-color: transparent;
  background-color: #f91313;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}

.formSearchButton {
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.searchIcon {
  width: 17px;
  height: 17px;
  margin-right: 0.5rem;
}

.filterBrowse {
  width: 100%;
  display: flex;
  justify-content: end;
  overflow: hidden;
}

.fiterBrowseMain {
  display: flex;
}

.filterBrowseContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.leftBrowseOptions {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 20%;
}
.filterBrowseButtons {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.filterBrowseButtons > button {
  border: none;
  background-color: transparent;
  padding: 0.5rem 0;
  cursor: pointer;
}

.categoryBrowseButton,
.brandBrowseButton {
  margin-bottom: 1rem;
  transition: transform 0.2s linear;
}

.categoryBrowseButton:hover,
.brandBrowseButton:hover,
.allBrowseButton:hover {
  transform: translate(1px, -1px);
}

.categoryBrowseButton {
  color: #f91313;
  font-weight: 400;
}

.brandBrowseButton {
  color: #757575;
  font-weight: 400;
}

.allBrowseButton {
  margin-top: 1rem;
  border-bottom: 2px solid white !important;
  font-weight: 600;
  transition: all 0.2s linear;
}

.allBrowseButton:hover {
  border-bottom: 2px solid #f91313 !important;
}

.allCards {
  width: 70%;
}

.rightDataCards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card1,
.card2,
.card3,
.card4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 40%;
  border: 0.5px solid rgba(33, 33, 33, 0.25);
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.brandImage {
  height: 50%;
  width: 80%;
}

.cardButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.cardExploreButton {
  background-color: #ffffff;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid black;
  transition: all 0.2s linear;
}

.cardExploreButton:hover {
  background-color: #f91313;
  color: #ffffff;
  border: 2px solid white;
}

.cardViewStockButton {
  background-color: #000000;
  border: none;
  color: #ffffff;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.advertisedProductSection {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}

.adProductLogo {
  width: 50%;
}

.advertisedProductDesc {
  width: 50%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headingAdProductDesc {
  font-size: 3rem;
  width: 70%;
  margin-left: 4rem;
  font-weight: 500;
}

.contentAdProductDesc {
  color: #757575;
  width: 62%;
  font-size: 16px;
  margin-left: 4rem;
  margin-top: 1rem;
  font-weight: 400;
}

.readMoreAdProduct {
  width: 20%;
  background-color: #ffffff;
  margin-left: 4rem;
  margin-top: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.2s linear;
}

.readMoreAdProduct:hover {
  background-color: #f91313;
  color: white;
  border: 2px solid white;
}

footer {
  width: 100%;
  background-color: #3d3d48;
  display: flex;
  align-items: end;
  flex-direction: column;
  overflow: hidden;
}

.footerContainer {
  width: 80%;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
}

.firstFooterContainer {
  width: 25%;
  color: #ffffff;
}

.firstFooterContent {
  margin-top: 1rem;
  font-size: 14px;
  opacity: 0.61;
}

.secondFooterContainer,
.thirdFooterContainer,
.fourthFooterContainer {
  margin-left: 4rem;
  color: #ffffff;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 1rem;
  width: 25%;
}

.socialButtonContainer {
  display: flex;
  margin-top: 2rem;
}

.secondFooterNavBar,
.thirdFooterNavBar {
  list-style: none;
  padding: 0;
  margin: 0;
}

.secondFooterNavBar > li,
.thirdFooterNavBar > li,
.fourthFooterNavBar > li {
  margin-top: 0.5rem;
  opacity: 0.61;
}

.mobileMode {
  display: none;
}

.fourthFooterNavBar {
  padding-left: 1rem;
}

.fourthFooterAddress {
  list-style-image: url("Assets/contact_icon_footer.svg");
  width: 100%;
}

.fourthFooterPhone {
  list-style-image: url("Assets/fourth_footer_phone.svg");
  width: 100%;
}

.fourthFooterEmail {
  list-style-image: url("Assets/fourth_footer_email.svg");
  width: 100%;
}

.footerMain {
  background-color: #212121;
  height: 5vh;
  align-self: flex-start;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}

.copyrightFooter {
  font-size: 14px;
}

.poweredByFooter {
  font-size: 14px;
}

.brandBrowseCards {
  display: none;
}

@media only screen and (max-width: 1410px) {
  .brandLogoContainer {
    width: 30%;
  }
  .navBar {
    width: 70%;
  }
  .navBarSocial {
    width: 95%;
  }
  .navBarOne {
    width: 95%;
  }
  .formSearchBar {
    margin-top: 1rem;
  }

  .headingHeroOne {
    font-size: 2.5rem;
  }

  .descHero {
    font-size: 13px;
  }

  .headingAdProductDesc {
    font-size: 2.5rem;
  }

  .contentAdProductDesc {
    font-size: 13px;
  }
  .card1,
  .card2,
  .card3,
  .card4 {
    height: 25vh;
    width: 40%;
  }
}

@media only screen and (max-width: 1142px) {
  header {
    flex-direction: column-reverse;
    width: 100%;
  }
  .navBar {
    width: 100%;
    margin: 0;
  }
  .navBarOne {
    display: none;
  }
  .navBarSocialContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .navBarSocial {
    width: 80%;
  }
  .brandLogoContainer {
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  .phoneModeHamburger {
    display: block;
  }
  .leftHero {
    width: 60%;
    align-items: center;
  }
  .rightHero {
    width: 40%;
  }
  .headingHeroOne {
    font-size: 2rem;
  }
  .footerContainer {
    width: 90%;
  }
  .heroImageRv {
    width: 100%;
  }
}

@media only screen and (max-width: 1035px) {
  .fiterBrowseMain {
    flex-direction: column;
  }
  .leftBrowseOptions {
    width: 80%;
  }
  .filterBrowseButtons {
    flex-direction: row;
    align-items: center;
  }
  .filterBrowseButtons > button {
    padding: 0.5rem;
  }
  .allBrowseButton {
    margin-bottom: 1rem;
    margin-top: 0;
    margin-left: auto;
  }
  .allCards {
    width: 80%;
  }

  .formSearchBar > li > select {
    width: 13vw;
    height: 4vh;
  }
  .formSubmitButton {
    width: 13vw;
    height: 4vh;
  }
}

@media only screen and (max-width: 1009px) {
  footer {
    align-items: center;
  }
  .footerContainer {
    width: 100%;
  }
  .firstFooterContainer {
    width: 20%;
    color: #ffffff;
    margin-left: 1rem;
  }
  .footerBrandIcon {
    width: 80%;
  }
  .firstFooterContent {
    margin-top: 1rem;
    font-size: 12px;
    opacity: 0.61;
  }
  .secondFooterContainer,
  .thirdFooterContainer,
  .fourthFooterContainer {
    margin-left: 1rem;
    color: #ffffff;
    box-sizing: border-box;
    padding: 0 1rem;
  }
  .secondFooterContainer,
  .thirdFooterContainer {
    width: 10%;
  }

  .filterBrowse {
    justify-content: center;
  }

  .leftBrowseOptions {
    width: 100%;
  }

  .allCards {
    width: 100%;
  }
  .headingAdProductDesc {
    font-size: 1.5rem;
  }
  .contentAdProductDesc {
    font-size: 10px;
  }
  .readMoreAdProduct {
    width: 30%;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .computerForm {
    display: none;
  }
  .formContainer {
    width: 100%;
  }
  .mobileForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heroContainer {
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .rightHero {
    width: 100%;
  }
  .leftHero {
    width: 100%;
  }

  .formSearchBar {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: none;
    justify-content: center;
    align-items: center;
  }
  .locationSearchInput {
    width: 80% !important;
  }
  .selectLocationForm {
    width: 100% !important;
    border-radius: 10px;
    border: 0.5px solid rgba(33, 33, 33, 0.25) !important;
  }
  .newOrUsedAndMakeSearchInput {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .modelAndTypeSearchInput {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .selectNewOrUsedForm {
    width: 49% !important;
    border-radius: 10px;
    border: 0.5px solid rgba(33, 33, 33, 0.25) !important;
  }
  .selectMakeForm {
    width: 49% !important;
    border-radius: 10px;
    border: 0.5px solid rgba(33, 33, 33, 0.25) !important;
  }
  .selectModelForm {
    width: 49% !important;
    border-radius: 10px;
    border: 0.5px solid rgba(33, 33, 33, 0.25) !important;
  }
  .selectTypeForm {
    width: 49% !important;
    border-radius: 10px;
    border: 0.5px solid rgba(33, 33, 33, 0.25) !important;
  }
  .formSubmitButton {
    width: 80%;
    margin-bottom: 1rem;
  }
  .headingHero {
    margin-top: 3rem;
    width: 80%;
  }
  .descHero {
    width: 80%;
    font-size: 1.5rem;
  }
  .headingHeroOne {
    font-size: 3rem;
  }
  .card1,
  .card2,
  .card3,
  .card4 {
    height: 25vh;
    width: 40%;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .cardExploreButton {
    padding: 0.5rem 1rem;
  }
  .cardViewStockButton {
    padding: 0.5rem 1rem;
  }
  .sideMenu {
    width: 40%;
  }
}

@media only screen and (max-width: 650px) {
  .navBarSocial {
    width: 100%;
  }
  .brandLogoContainer {
    width: 90%;

    justify-content: space-between;
  }
  .brandLogo {
    width: 10rem;
  }
  .headingHero {
    width: 90%;
  }
  .headingHeroOne {
    font-size: 2rem;
  }
  .descHero {
    font-size: 1rem;
    width: 90%;
  }
  .locationSearchInput {
    width: 90% !important;
  }
  .newOrUsedAndMakeSearchInput {
    width: 90%;
  }
  .modelAndTypeSearchInput {
    width: 90%;
  }
  .formSubmitButton {
    width: 90%;
  }
  .filterBrowseContainer {
    width: 90%;
  }
  .card1,
  .card2,
  .card3,
  .card4 {
    height: 25vh;
    width: 90%;
    margin-bottom: 1rem;
    margin-right: 0;
  }
  .advertisedProductSection {
    flex-direction: column;
  }
  .adProductLogo {
    width: 100%;
  }
  .advertisedProductDesc {
    width: 100%;
    align-items: center;
  }
  .headingAdProductDesc {
    font-size: 2rem;
    margin: 0;
    width: 90%;
    margin-top: 1rem;
  }
  .contentAdProductDesc {
    margin: 0;
    width: 90%;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  .readMoreAdProduct {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    align-self: flex-start;
  }
  .footerContainer {
    flex-direction: column;
  }
  .firstFooterContainer {
    width: 90%;
  }
  .secondFooterContainer,
  .thirdFooterContainer,
  .fourthFooterContainer {
    width: 90%;
    padding: 0;
    margin-top: 1rem;
  }

  .computerMode {
    display: none;
  }

  .mobileMode {
    display: block;
  }

  .secondFooterMobileContent,
  .thirdFooterMobileContent {
    margin-top: 1rem;
    opacity: 0.61;
  }
  .fourthFooterNavBar {
    padding-left: 1.5rem;
  }
  .copyrightFooter,
  .poweredByFooter {
    font-size: 10px;
  }

  .footerMain {
    padding: 0.5rem;
  }

  .sideMenu {
    width: 50%;
  }

  .cardButtons{
    margin-top: 0;
  }
}
